<script type="script/template" id="product_template">
  <h3>
    <%%= name %>
  </h3>
  <div class="description">
    <%%= description %>
  </div>
  <span class="label label-default">
    <%%= filter %>
  </span>
</script>
